<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <span>Popular plans</span>
    <span class="exam-spacer"></span>
    <mat-icon>supervised_user_circle</mat-icon>
    <div (click)="openDia()">Addon</div>
    
    <span class="exam-space"></span>
    <mat-icon>supervised_user_circle</mat-icon>
    <h4>View Recharge details</h4>
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn">Logout</button>
    
    
  </mat-toolbar>
