<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <span>Popular plans</span>
    <span class="exam-spacer"></span>
    <mat-icon>supervised_user_circle</mat-icon>
    <span>Addon</span>
    
    <span class="exam-space"></span>
    <mat-icon>supervised_user_circle</mat-icon>
    <h4>View Recharge details</h4>
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn">Logout</button>
    
    
  </mat-toolbar>
    
<div class="boxtwo">
     <div id="ss-box">
    
      <div class="card">
        
        <div class="con">
          <div class="d-flex flex-column">
          <h2 class="card-title">New plan</h2>
          <h3 class="card-text">Data:1.5GB/day</h3>
          <h3 class="card-text">Rs:21</h3>
          <h3 class="card-text">Data:3GB</h3>
          <h3 class="card-text">Voice:unlimited</h3>
          <h3 class="card-text">Validity:Avail till existing plan</h3>
          <h3 class="card-text">Offer:20% upto RS.200 cashpack</h3>

          <div mat-dialog-action [align]="'center'">
            <button style="margin-left: 8px;" mat-raised-button color="warn"(click)="onClick()"><strong>></strong></button>
          </div>
          
        </div>
        </div>
      </div>
   </div>


