mat-form-field{
    width: 40%;
    margin-left: 40px;
    margin-right: 40px;
   
}
.save-btn
{
    margin-right: 50px;;
}

.example-button{
    margin-left: 400px;
    
  }
  .example-label {
    background-color: #900000;
    color: white;
   
    
  }
  .example-button-row,.example-button{
    color: white;
  }
  .lab{
    
    margin-right: 430px;
  }
  @media screen and (max-width: 1024px){
    .lab{
        margin-right: 50px; 
  
  
    }
  }
  
  
  @media screen and (max-width: 1024px){
  .example-button{
    
    margin-left: 180px;
  }
  
}

  

